@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FBFF;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F1F7FF;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Satoshi', sans-serif
}
.recharts-wrapper, .recharts-text .recharts-layer{
  font-family: 'Satoshi', sans-serif !important;
}
